/* Add some simple stying to make it look like it's not 1995 */

/* Bonus! Use some newer features like flexbox and css grid layout */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: #ef5350;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: sans-serif;
}
